@model CarRental.Models.Admincls

<form asp-action="Admin_Click" class="form-horizontal" method="post" >

    <h2 style="display:flex; align-items:center;justify-content:center;"><b>ADMIN REGISTRATION</b></h2>

    
    <div style="display:flex;justify-content:center;" class="form-group row">
        <div style="width:50%;" class="col-md-12">
            <div style="display:flex;align-items:center;justify-content:end;">
                <label class="control-label" style="display: flex;width: 20%;justify-content: start;">Name</label>
                <input asp-for="name" style="margin-left: 25px;margin-top:5px;width: 70%;" class="form-control" placeholder="Name" type="text"/>
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:center;" class="form-group row">
        <div style="width:50%;" class="col-md-12">
            <div style="display:flex;align-items:center;justify-content:end;">
                <label class="control-label" style="display: flex;width: 20%;justify-content: start;">Email</label>
                <input asp-for="email" style="margin-left: 25px;margin-top:5px;width: 70%;" class="form-control" placeholder="Email" type="email"/>
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:center;" class="form-group row">
        <div style="width:50%;" class="col-md-12">
            <div style="display:flex;align-items:center;justify-content:end;">
                <label class="control-label" style="display: flex;width: 20%;justify-content: start;">Phone</label>
                <input asp-for="phone" style="margin-left: 25px;margin-top:5px;width: 70%;" class="form-control" placeholder="Phone" type="tel" />
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:center;" class="form-group row">
        <div style="width:50%;" class="col-md-12">
            <div style="display:flex;align-items:center;justify-content:end;">
                <label class="control-label" style="display: flex;width: 20%;justify-content: start;">Username</label>
                <input asp-for="uname" style="margin-left: 25px;margin-top:5px;width: 70%;" class="form-control" placeholder="Username" type="text" />
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:center;" class="form-group row">
        <div style="width:50%;" class="col-md-12">
            <div style="display:flex;align-items:center;justify-content:end;">
                <label class="control-label" style="display: flex;width: 20%;justify-content: start;">Password</label>
                <input asp-for="pwd" style="margin-left: 25px;margin-top:5px;width: 70%;" class="form-control" placeholder="Password" type="password" />
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:center;" class="form-group row">
        <div style="width:50%;" class="col-md-12">
            <div style="display:flex;align-items:center;justify-content:end;">
                <label class="control-label" style="display: flex;width: 20%;justify-content: start;">Confirm Password</label>
                <input asp-for="cpwd" style="margin-left: 25px;margin-top:5px;width: 70%;" class="form-control" placeholder="Confirm Password" type="password" />
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:end;width:55%;margin-top:5px;" class="form-group">
        <input type="submit" value="Insert" class="btn btn-primary" />
    </div>
    </form>

@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]');
        </script>
    }
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>




@* @using (Html.BeginForm("Admin_Click", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) 
 { 
           @*  <label>Name:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.name)
            @Html.ValidationMessageFor(m => m.name)
        </div>
        <div>
            <label>Email:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.email)
            @Html.ValidationMessageFor(m => m.email)
        </div>
        <div>
            <label>Phone:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.phone)
            @Html.ValidationMessageFor(m => m.phone)
        </div>
        
        <div>
            <label>Username:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.uname)
            @Html.ValidationMessageFor(m => m.uname)
        </div>
        <div>
            <label>Password:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.pwd)

        </div>
        <div>
            <label>Confirm Password:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.cpwd)
            @Html.ValidationMessageFor(m => m.cpwd)
        </div>
        <div>
            <input type="submit" value="Insert" />
            @Html.DisplayFor(m => m.adminmsg)
        </div>


    }
</div> *@

